@import '@servicenow/sass-kit/host';

#incidents{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#grid { 
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}